PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://admin:voxora_secure_password@localhost:27017/voxora?authSource=admin
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=voxora_redis_password
EVOLUTION_API_URL=http://localhost:8080
EVOLUTION_API_KEY=voxora_evolution_secret_key_2026
JWT_SECRET=voxora_super_secret_jwt_key_2026_aniket_samant
JWT_REFRESH_SECRET=voxora_super_secret_refresh_key_2026_actasiff
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000
